@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700;800&family=Roboto:wght@300;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans';
  scroll-behavior: smooth;
  /* background:var(--lighter-color) */
}

/* THE SECTION OF THE GLOBAL VARIABLES */
:root {
  /* THE COLOURS */
  --white-color: #fff;
  /* --primary-color: #A1257D; */
  --primary-color: #248d40;
  --secondary-color: #16538a;
  --tetiary-color: #242424;
  --lighter-color: #f7f7f7;
  --light-color: #C4C4C4;
  --deep-color: #005C6B;
  --black-color: #000000;
  --border-color:#D8D8D8;
  --light-blue-color:#F4F6FF;
  /* --blue-color:#EB4C46; */
  --blue-color:#196fbb0c;
  --text-color:#7E7E7E;


  /* THE FONT-FAMILIES */
  --poppins: 'Poppins';
  --lobster:"Lobster";
  --inter:"Inter"

  /* FONT SIZES */
  --font-small: 11px; 
  --font-smaller: 13px;
  --font-smallest: 15px;
  --font-mid: 16px;
  --font-med:18px;
  --font-medium: 20px;
  --font-big: 22px;
  --font-bigger:24px;
  --font-biggest:27px;
  --font-large: 30px;
  --font-larger: 40px;
  --font-largest: 50px;

  /* SHADOWS AND TRANSITIONS */
  --normal-shadow: 0px 4.05296px 86.1253px 15.1986px rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 4px 85px 15px rgba(0, 0, 0, 0.05);

  --shadoos: 0px 0px 7px rgba(65, 111, 65, 0.2);
  --shadow: 15px 15px 25px #ddd;
  --transition: all 0.3s linear;
  --transitions: all 0.01s linear;

}

a, Link{
  text-decoration:none;
  
}


ul {
  padding: 0;
  margin: 0;
    list-style-type:none!important;
}
li {
  list-style: none;
}

/* width */
body::-webkit-scrollbar {
  width: 3px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
  display: none;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  display: none;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #fff;
  display: block;
}




@media screen and (min-width: 900px) {
  #responsive {
      width: calc(100% - 230px);
      margin-left: 230px;
      padding: 100px 20px;
      min-height: 100vh;
      transition: var(--transition);
      background:#e9ecff;
  
  }

  #response {
      width: calc(100% - 80px);
      margin-left: 80px;
      padding: 100px 20px;
      min-height: 100vh;
      transition: var(--transition);
      background:#e9ecff;
      /* background:var(--white-color); */
  }
}

input[type="text"] {
  padding: 8px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--border-color);
  margin-bottom: 15px !important;
  font-size: var(--font-smaller);
}

input[type="password"] {
  padding: 8px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--border-color);
  margin-bottom: 15px !important;
  font-size: var(--font-smaller);
}

input[type="number"] {
  padding: 8px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--border-color);
  margin-bottom: 15px;
  font-size: var(--font-smaller);
}

input[type="checkbox"] {
  height: 15px !important;
  width: 15px !important;
}

select {
  padding: 8px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--border-color);
  margin-bottom: 15px !important;
  font-size: var(--font-smaller) !important;
  background: var(--white);
}

input::-webkit-input-placeholder {
  font-size: var(--font-smaller);
}
